source_up

export TALOSCONFIG=$(expand_path ./talosconfig)
export KUBECONFIG=$(expand_path ./kubeconfig)

# Set kubeconfig path for Terraform Kubernetes Provider
export KUBE_CONFIG_PATH=$(expand_path ./kubeconfig)
