source_up_if_exists
source_env_if_exists '.envrc_secret'

export TALOSCONFIG=$(expand_path ./talosconfig)
export KUBECONFIG=$(expand_path ./kubeconfig)

# Cluster config
export CLUSTER_STATIC_IP="192.168.107.3"
export MINIO_ENDPOINT="192.168.107.4:9000"

# Set kubeconfig path for Terraform Kubernetes Provider
export KUBE_CONFIG_PATH=$KUBECONFIG

# Terraform Variables
export TF_VAR_cluster_static_ip=$CLUSTER_STATIC_IP
export TF_VAR_s3_endpoint="http://$MINIO_ENDPOINT"
export TF_VAR_onepassword_vault_id="saowjz663eddjhg4i3n5dy7l7m"
