source_up_if_exists
source_env_if_exists '.envrc_secret'

# Use configurations local to current folder
export TALOSCONFIG=$(expand_path ./talosconfig)
export KUBECONFIG=$(expand_path ./kubeconfig)

# Cluster config
export CLUSTER_STATIC_IP_V4="192.168.107.3"
export CLUSTER_STATIC_IP_V6="fd00:affe:cafe:107::3"
export MINIO_ENDPOINT="192.168.107.4:9000"

# Set kubeconfig path for Terraform Kubernetes Provider
export KUBE_CONFIG_PATH=$KUBECONFIG

# Terraform Variables
export TF_VAR_cluster_static_ip_v4=$CLUSTER_STATIC_IP_V4
export TF_VAR_cluster_static_ip_v6=$CLUSTER_STATIC_IP_V6
export TF_VAR_s3_endpoint="http://$MINIO_ENDPOINT"
export TF_VAR_onepassword_vault_id="saowjz663eddjhg4i3n5dy7l7m"
